## Below test having 61 elementary level problems to solve and to be completed within 2 hours
### Please use comments within your code block to justify your code wherever possible. You may use Jupyter or VS Code.
#### Once completed, please save the file with your namestudentid e.g., ravi002.ipynb and email to raghavendraraju.km@alliance.edu.in 

##### Please read the below instructions carefully:
- You have to attempt all the below problems
- please enter a blank code block below each problem to solve the problem.
- Please read carefully to understand each problem; many a times, the answer could be hidden in the problem itself.
- Use simple and easy to undertand English
- If in the case of you finding a bug or error in the already written code, please resolve the issue instead of asking "error in question". You must clearly state the problem and the solution you have provided.
- please note that, you will be judged not only by writing clear code, but also the logic you apply to solve the problem. Which means, explaining your understanding of the problem and moving towards the right direction to solve the problem is laso important.
- Just by writing your answer is not enough in many of the cases; wherever possible, you must run your code successfully to support your answer - remember that, you will be judged by showing your ability to understand & solve a problem and your ability to explain the taken approach

1. In the Python statement L = p + 7 - q:

p and q are ____
p + 7 - q is ____

- terms of a group
- operators, a statement
- operands, an equation
- operands, an expression

In [ ]:
p and q are operands, an expression
p + 7 - q is operators, a statement

2. The statement below would print a Boolean value, which one?
print(bool("abc"))

In [ ]:
print(bool("abc"))

3. What is the value of the expression 99 / 33?

In [ ]:
print(99 / 33)

4. Get the first character of the string greet.
greet = "Good Morning India"

In [ ]:
greet = "Good Morning India"
print(greet[0])

5. Should you use the == operator to determine whether objects of type float are equal?
- not a good idea, result will be False
- sure, result will be True
hint - 1.2 + 2.3 == 3.5

In [ ]:
expression = (1.2 + 2.3 == 3.5)
if expression is True:
    print("sure, result will be True")
else: 
     print("not a good idea, result will be False")

6. Consider the following code snippet:

a = 25.0
b = (a < 78.0) and isinstance(a, float)

If we execute the above code, what is the value of b?
- 1
- None
- False
- 0
- True

In [ ]:
True

7. a = 100; b = 200

What is the value of the expression a and b?
- 100
- False
- 200
- Incorrect
- 0
- True
- none of above

In [ ]:
200

8. Which of the following operators has the lowest precedence?
- +
- **
- and
- not
- %
- all of above

In [ ]:
**

10. Get the characters from index 2 to index 4.
txt = "Hello Alliance"

In [ ]:
txt = "Hello Alliance"

11. What is the value of the expression 7 + 9 ** 3 * 5?
- 54
- 97
- 3569
- 213
- non of above

In [ ]:
- non of above


12. Use the correct membership operator in pace of _ to check if "Dates" is present in the fruits object.
fruits = ["Dates", "Apple"]
if "Dates" _ fruits:
  print("Yes, Dates is a fruit!")

In [8]:
fruits = ["Dates", "Apple"]
if "Dates" in fruits:
    print("Yes, Dates is a fruit!")

Yes, Dates is a fruit!

13. Use the correct comparison operator to check if 18 is not equal to 10.
if 18 _ 10:
  print("18 and 10 is not equal")

In [9]:
if 18 != 10:
  print("18 and 10 is not equal")

18 and 10 is not equal

14. Use the correct logical operator to check if at least one of two statements is True.
if 7 == 9 _ 4 == 4:
  print("At least one of the statements is true")

In [16]:

if 7 == 9 or 4 == 4:
    print("At least one of the statements is true")

At least one of the statements is true

15. Convert the value of below txt to upper case.
txt = "Alliance University"

In [19]:
txt = "Alliance University"
uppercase_txt = txt.upper()
print(uppercase_txt)

ALLIANCE UNIVERSITY

16. Print "Hello India" if a is greater than b.
a = 39; b = 19
_ a _ b _
  print("Hello India")

In [20]:
a = 39
b = 19
if a>b:
    print("Hello India")

Hello India

17. write a code block to Print "Hello Good Morning" if p is not equal to q.

In [22]:
p=23
q=45
if p==q:
    print( "Hello Good Night")
else:
    print("Hello Good Morning")

Hello Good Morning

19. Replace the character H with a X.
txt = "Hello India"

In [24]:
txt = "Hello India"
print(txt.replace("H","X"))

Xello India

20. Insert the correct syntax to add a placeholder for the age parameter.
age = 16
txt = "My name is Damini, and I am _"
print(txt.format(age))

In [26]:
age = 16
txt = "My name is Damini, and I am {}"
print(txt.format(age))

My name is Damini, and I am 16

21. Print "Yes" if a is equal to b, otherwise print "No".
a = 39; b = 18
_ a _ b_
    print("Yes")
_ _
    print("No")

In [27]:
a = 39
b = 18
if a == b:
    print("Yes")
else:
    print("No")

No

22. write a code block to Print "100" if a is equal to b, print "200" if a is greater than b, otherwise print "300".

In [28]:
a=10
b=20

if a==b:
    print("100")
elif a>b:
    print("200")
else:
    print("300")

300

23. write a code block to Print "Hiya" if a is equal to b, and c is equal to d.

In [29]:
a=2
b=2
c=3
d=3

if a==b and c==d:
    print("hiya")
else:
    print("Invalid")

hiya

24. Insert the correct syntax to convert below x variable into a complex number.
x = 9

In [31]:
x = 9
print(x,'is of type:',type(x))

x = complex(x)
print(x,'is of type:',type(x))

9 is of type: <class 'int'>
(9+0j) is of type: <class 'complex'>

25. Print "Hello" if a is equal to b, or if c is equal to d.
if a == b _ c == d:
    print("Hello")

In [32]:
a=2
b=5
c=7
d=7

if a==b or c==d:
     print("Hello")
else:
    print("Invalid")

Hello

26. If you get an error in below code, find the error and fix the error keeping both lines of code. Explain the reason of error.
if 7 > 3:
print("seven is greater than three!")

In [35]:
if 7 > 3:
    print("seven is greater than three!")
    
    The error was with print function. We have to write print functon inside the if condition.

seven is greater than three!

27. How can you write the below code in one line:
if 9 > 5:
print("Nine is greater than five!")

In [36]:

print("Nine is greater than five!",(9>5))

Nine is greater than five! True

28. 
a) what is the output of below code:
if 9 > 11:
    print("Yes")
else
    print("No")
  
b) Write the above expression in one line.

In [38]:
print("yes",(9>11))

yes False

In [37]:
if 9 > 11:
    print("Yes")
else:
    print("No")

No

29. In the loop, when the item value is "chocolate", continue to the next item.
flavor = ["vanila", "chocolate", "cherry"]
for x in flavor:
    if x == "chocolate":
        __
    print(x)

In [41]:
flavor = ["vanila", "chocolate", "cherry"]
for x in flavor:
    if x == "chocolate":
        continue
    print(x)

vanila
cherry

30. Print k as long as k is less than 7.
k = 1
_ k < 7_
  print(k)
  k += 1

In [43]:
k = 1
while(k < 7):
  print(k)
  k += 1

1
2
3
4
5
6

31. stop the above (Q30) loop if k is 5.

In [44]:
k = 1
while(k < 7):
    print(k)
    if k==5:
        break
    k += 1

1
2
3
4
5

32. In the loop as in Q31, when k is 5, we would like to continue to the next iteration. kindly complete the below syntax.
k = 0
while k < 7:
  k += 1
  if k == 5:
      _

  print(k)

In [1]:
k = 0
while k < 7:
    k += 1
    if k == 5:
        continue

    print(k)

1
2
3
4
6
7

33. Print a message once the condition do not meet.
k = 1
while k < 7:
    print(i)
    k += 1
_ _
    print("k is no longer less than 6")

In [3]:
k = 1
while k < 7:
    print(k)
    k += 1
if k>6:
    print("k is no longer less than 6")

1
2
3
4
5
6
k is no longer less than 6

34. Use the range function to loop through below code set 6 times.
for x in _ :
    print(x)

In [6]:
for x in range(0,6) :
    print(x)

0
1
2
3
4
5

35. The following code example would print the data type of q, what data type would that be?
q = 11
print(type(q))

In [8]:
q = 11
print(type(q))

<class 'int'>

36. The following code example would print the data type of x, what data type would that be?
x = "Hello Alliance"
print(type(x))

In [9]:
x = "Hello Alliance"
print(type(x))

<class 'str'>

37. The following code example would print the data type of x, what data type would that be?
a = 39.5
print(type(a))

In [10]:
a = 39.5
print(type(a))

<class 'float'>

38. The following code example would print the data type of x, what data type would that be?
m = ["Ram", "Xavier", "Bipasha"]
print(type(m))

In [11]:
m = ["Ram", "Xavier", "Bipasha"]
print(type(m))

<class 'list'>

39. Write an example of tuple using the above m variable.

In [12]:
m = ("Ram", "Xavier", "Bipasha")
print(type(m))

<class 'tuple'>

40. Write an example of dictionary data type.

In [14]:

my_dict = {}
my_dict = {1: 'apple', 2: 'ball'}

my_dict = {'name': 'John', 1: [2, 4, 3]}

my_dict = dict({1:'apple', 2:'ball'})

my_dict = dict([(1,'apple'), (2,'ball')])

41. Write an example of boolean data type.

In [15]:
a = True
type(a)
 
b = False
type(b)

bool

42. For two objects m and n, the expression m is n will yield True, if and only if
a) m == n
b) len(m)==len(n)
c) id(m)==id(n)
d) all of these

In [ ]:
 m == n

43. Use the add method to add "orange" to the fruits set.
fruits = {"grapes", "avocado", "cherry"}

In [17]:
fruits = {"grapes", "avocado", "cherry"}
fruits.add("orange")
print(fruits)

{'grapes', 'avocado', 'cherry', 'orange'}

44. Use the correct method to add multiple items (moreFruits) to the someFruits set.
someFruits = {"grapes", "avocado", "cherry"}
moreFruits = ["berry", "mango", "orange"]

In [21]:
someFruits = {"grapes", "avocado", "cherry"}
moreFruits = ["berry", "mango", "orange"]
someFruits.update(moreFruits)
print(someFruits.update(moreFruits))

None

45. how can we remove "icecream" from the fruits set.
fruits = {"apple", "banana", "icecream"}

In [23]:
fruits = {"apple", "banana", "icecream"}
fruits.remove("icecream")
print(fruits)

{'apple', 'banana'}

46. Use the get method to print the value of the "model" key of the car dictionary.

Vehicle = {
  "brand": "Maruti",
  "model": "Suzuki",
  "year": 2018
}
print()

In [25]:
Vehicle = {
  "brand": "Maruti",
  "model": "Suzuki",
  "year": 2018
}
print(Vehicle.get("model"))

Suzuki

47. How do you change the "year" in above (Q46) from 2018 to 2022.

Vehicle = {
  "brand": "Maruti",
  "model": "Suzuki",
  "year": 2018
}
_ = _

48. How do you add the key/value pair "color" : "yellow" to the Vehicle dictionary.

Vehicle = {
  "brand": "Maruti",
  "model": "Suzuki",
  "year": 2018
}
_ _ _

In [27]:
Vehicle = {
  "brand": "Maruti",
  "model": "Suzuki",
  "year": 2018
}
Vehicle.key[3]="color";
Vehicle.value[3]="yellow";
print(Vehicle)

AttributeError: 'dict' object has no attribute 'key'

49. Use the clear method to empty the Vehicle dictionary.

Vehicle = {
  "brand": "Maruti",
  "model": "Suzuki",
  "year": 2018
}
_

50. Construct a conditional statement stating you have a variable V, equal to 4. If the value is 'even', you will print V is 'even'. 
hint - use modulo operator 2, which will return 0 if V is 'even.

In [29]:
v=2
if v%2==0:
    print("even")
else:
    print("odd")

even

51. Continuing to the previous example (Q50), what if you want to print 'V is odd' when the if condition is false?

In [31]:
v=3
if v%2==0:
    print("even")
else:
    print("odd")

odd

52. Explain the below conditions clearly and step by step.
t = 3
if t % 2 == 0:
    print('t is divisable by 2')
elif t % 3 == 0:
    print('t is divisable by 3')
else:
    print('t is nether divisable by 2 nor 3')

In [ ]:
here in first condion the reminder of 3%2 is not zero
here in second condion the reminder of 3%2 is zero so it printed the given result
here in last condion the reminder of 3%2 is not zero

In [32]:
t = 3
if t % 2 == 0:
    print('t is divisable by 2')
elif t % 3 == 0:
    print('t is divisable by 3')
else:
    print('t is nether divisable by 2 nor 3')

t is divisable by 3

53.

a) Run the below program and explain in details about your understanding.

numOne = 10; numTwo = 0; numThree = True; numFour = False; numFive = -10;

if numOne: print("The value of \"numOne\" is", numOne)
else: print("The value of \"numOne\" is", numOne)
if numTwo: print("The value of \"numTwo\" is", numTwo)
else: print("The value of \"numTwo\" is", numTwo)
if numThree: print("The value of \"numThree\" is", numThree)
else: print("The value of \"numThree\" is", numThree)
if numFour: print("The value of \"numFour\" is", numFour)
else: print("The value of \"numFour\" is", numFour)
if numFive: print("The value of \"numFive\" is", numFive)
else: print("The value of \"numFive\" is", numFive)

b) Write the above program by breaking each line with correct indentation.

In [33]:
numOne = 10; numTwo = 0; numThree = True; numFour = False; numFive = -10;

if numOne: print("The value of \"numOne\" is", numOne)
else: print("The value of \"numOne\" is", numOne)
if numTwo: print("The value of \"numTwo\" is", numTwo)
else: print("The value of \"numTwo\" is", numTwo)
if numThree: print("The value of \"numThree\" is", numThree)
else: print("The value of \"numThree\" is", numThree)
if numFour: print("The value of \"numFour\" is", numFour)
else: print("The value of \"numFour\" is", numFour)
if numFive: print("The value of \"numFive\" is", numFive)
else: print("The value of \"numFive\" is", numFive)

The value of "numOne" is 10
The value of "numTwo" is 0
The value of "numThree" is True
The value of "numFour" is False
The value of "numFive" is -10

54. below are the examples of which operators? Name each operator.

a = 12
b = 7
print("\n---------", a, "==", b, "?--------")
print(a == b)
print("\n---------", a, "!=", b, "?--------")
print(a != b)
print("\n---------", a, ">", b, "?--------")
print(a > b)
print("\n---------", a, "<", b, "?--------")
print(a < b)
print("\n---------", a, ">=", b, "?--------")
print(a >= b)
print("\n---------", a, "<=", b, "?--------")
print(a <= b)

55. Provide some examples of logical operators

In [ ]:
Not , And

56. x = 5; x %= 5
what is the value of x?

In [34]:
x = 5
x %= 5
print(x)

0

57. What is the order of precedence in python?
1)  Parentheses
2)  Exponential
3)  Multiplication
4)  Division
5)  Addition
6)  Subtraction

58. Explain the order precedence in the following expressions:
print(5 * 2 // 3)
print(5 * (2 // 3))

59. Explain the order of precedence in the following expressions:
print(2 ** 3 ** 2)
print((2 ** 3) ** 2)

60. Explain the order of precedence in the following expressions:
print(10 - 4 * 2)
print((10 - 4) * 2)